{
  "tracker": {
    "params": {
      "accountId": 1,
      "serviceId": 43,
      "pageLayout": "pc",
      "pageType": "event"
    }
  },
  "loginUrlSid": "e102",
  "registerUrlSid": "e102",
  "withBorder": false,
  "showSearchBar": true,
  "showMemberInfoSummary": true,
  "showSpu": true,
  "showCartModal": true,
  "customLogoImageUrl": false,
  "useTBasketDomain": true,
  "omniConfig":{
    "clientId":"rakuten_ichiba_event_page_web",
    "redirectUri":"https://event.rakuten.co.jp/sso_redirect/",
    "state":[["l-id", "pc_header_login"]]
  },
  "api": {
      "shouldQueryPointInvestInfo": true,
      "cartApiSid": 1010,
      "notificationLocId": 12,
      "shouldUseRestBff": true,
      "url": "https://ichiba-common-web-gateway.rakuten.co.jp/ichiba-common/headerinfo/get/v1",
      "apikey": "hi6RPqKliaZI5JBA7Yls4t3OtDeffVMPR",
      "clientId": "event",
      "spuViewType": "top",
      "spuSource": "pc",
      "spuEncoding": "UTF-8",
      "spuAcc": 1,
      "spuAid": 1
    }
}
